.gibier .page_0 p.icon {
  margin: 0;
  position: relative;
  left: 32em;
  top: -3em;
}

.gibier .background {
  height: 100%;
  background-color: #fff;
  color: #222;
}

.gibier a:link { color: #228; }
.gibier a:visited { color: #228; }
.gibier a:hover { color: #228; }
.gibier a:active { color: #228; }
